$base-color: #EB5935;
$icon-color: #F9D0C5;

$highlight-color: #e84118;
$notification-color: #AFCE32;
$button-color: #AFCE32;


$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #DB4925;

@import "admin";
